.app {
  text-align: center;
  background-color: yellowgreen;

  .app-logo {
    height: 40px;
    pointer-events: none;
    width: 40px;
  }

  .app-logo-src {
    height: 40px;
    pointer-events: none;
    width: 40px;
    content: url("./assets/images/logo.svg");
  }

  .app-header {
    background-color: green;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
